#search{
    height:400px;
    width:100%;
    background-image: url('https://i.ibb.co/NVQxPB6/food-Wallpaper.png');
    background-repeat:no-repeat;
    /* background-size: cover; */
    background-size: 100% 400px;
}

#logo{
    height:150px;
    width:150px;
    background-color:rgb(240 229 229/ 60%);
    border-radius: 50%;
    margin-left: 43%;
    margin-top:2%;
    position:absolute;
    animation:revolve 20s infinite
}

@keyframes revolve{
    0% {
        transform: rotate(30deg);
        margin-left:2%
    }
    25% {transform: rotate(90deg);
        margin-left:20%}
    50% {transform: rotate(180deg);
        margin-left:40%}
    75% {transform: rotate(270deg);
        margin-left:80%}
    100% {transform: rotate(360deg);
        margin-left:40%}
}

#logo>span{
    margin-left: 28%;
    margin-top:16%;
    position:absolute;
    font-size: 80px;
}

#heading{
    margin-left: 25%;
    margin-top: 14%;
    position: absolute;
    font-size: 50px;
    color: white;
}

.dropdown{
    height:60px;
    width:60%;
    margin-left: 23%;
    margin-top: 20%;
    position: absolute;
}

select{
    height:60px;
    width:40%;
    font-size:20px;
    text-align:center;
}

.restSelect{
    width:55%;
}